BODY
{
  font-family: Cambria, Georgia, "Times New Roman";
  margin: 0;
}

DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A
{
  font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}

DIV#header
{
  background-color: #444;
  border-bottom: 2px solid #111;
  color: black;
}

  DIV#header DIV.title
  {
    font-size: 2em;
    padding: .6em;
  }

DIV#content
{
  border-left: 2px solid gray;
  margin-left: 13em;
  padding: 1em;
}

DIV#categories
{
  float: left;
  width: 12em;
  padding: .3em;
}

DIV.pager
{
  text-align: right;
  border-top: 2px solid silver;
  padding: 0.5em 0 0 0;
  margin-top: 1em;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.field-validation-error {color: #f00;}
.field-validation-valid { display: none;}
.input-validation-error { border: 1px solid #f00; background-color: #fee; }
.validation-summary-errors { font-weight: bold; color: #f00;}
.validation-summary-valid { display: none;}