<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Sorry.</h1>
        <h2>We can't find this page.</h2>
    </hgroup>
    <img width="500" height="500" class="img-thumbnail" src="~/Content/404.jpg" />
</body>
</html>
